@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap');


body {
  margin: 0;
  text-align: center;
  color: #fff;
  background-color: rgb(46, 46, 46);
  font-family: 'Montserrat', sans-serif;
}

header {
  font-size: 1.5rem;
  background-image: url(../covid\ 19.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(94, 50, 50);
  text-shadow: 0 0 10px #000;
}

header, .container {
  min-height: 28vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box {
  display: inline-block;
  margin: 0 15px;
  background: rgb(78, 78, 78);
  border-radius: 40px;
  padding: 10px;
  height: 25px;
  color: #fff;
}

.input {
  background: none;
  border: none;
  font-size: 18px;
  padding: 0;
  width: 0px;
  transition: 0.8s;
  outline: none;
  color: #fff;
} 

.input::placeholder {
  color: #fff ;
}

.btn {
  height: 25px;
  background-color: transparent;
  font-size: 17px;
  color: #fff;
  border: none;
  padding: 2px;

}

.search-box:hover {
  box-shadow: 0 0  10px #fff;
}

.search-box:hover .input{
  width: 240px;
  padding: 5px;
}

.info-container {
  width: 90%;
  margin: auto;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 10px;
}

ul li i {
  font-size: 4.3rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.myinstagram, .mytelegram, .mygithub {
  background-color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  font-size: 22px;
  transition: 0.5s;
  cursor: pointer;
}

.myinstagram a {
  color: brown;
}

.mytelegram a {
  color: blue;
}

.mygithub a {
  color: black;
}

.myinstagram:hover, .mytelegram:hover, .mygithub:hover {
  background-color: #aaa;
  box-shadow: 0 0 18px #aaa;
  transform: translateY(-8px);
}

@media (max-width: 768px) {
  header {
    font-size: 1.1rem;
  }
}
